body{
    margin:250px;
     
   
}
.che{
    width:200px;
    
}
.chee{
    width: 600px;
    margin:0 auto;
    padding: 20px;
    display:flex;
    text-align: center;
    background: goldenrod;
    color: black;
    border-bottom:6px solid black ;
}
.border-blue{
    
    justify-content: space-around ;
}